.stickycta {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom); /* Adjust for iPhone safe area */
    z-index: 9999;
}

@supports (-webkit-touch-callout: none) {
    .stickycta {
        padding-bottom: calc(env(safe-area-inset-bottom) + 10px); /* Add extra padding for better UI on iOS */
    }
}

.banner-content{
    text-align: left;
    left: 5%;
}
.banner-heading-arrow{
    left: 5%;
}
.banner-content-heading{
    left: 3%;
   transform:   translate(0, -50%);
   text-align: left;
   & h1{
    font-size: 45px;
   }
   &.twobanner{
    left: 50%;
   }
}
.bg-grey{
    background-color: #f2f2f2;
}
.awards .swiper-pagination-bullet{
    background-color: #000;
}


.lphero .row {
    position: relative;
    width: 100%;
    height: 100vh;
}

.lphero .col-12 {
    position: absolute;

 
}

.left {
    left: 0;
    top: 50%;
    & .position-absolute{
        transform: translate(-20px,-50%);}
}

.right {
    right: 20px;
    top: 50%;
    
    
    text-align: left;
    & .position-absolute{
        transform: translate(-20px,-50%);
        /* background-color: #fff; */
    }
}

.grid-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .grid-swiper .g-box{
    height: 220px;
  }

.p-left{padding-left: 64px !important;}
@media (max-width: 991px) {
    .left{
        top:200px;
        min-height: 150px;
        left:20px;
    }
    .right{
        top: 325px;
        min-height: 660px;
        left:15px;
    }
    #rental{
        height: 1000px;
    }
    .p-left{padding-left: 16px !important;}
}


.bg-img{
    padding: 100px 0;
    text-align: center;
    background: url("../images/bg-bike.png") no-repeat center;
    background-size: cover;
    .hundred h1{
      font-size: 200px;
      color: transparent;
      -webkit-text-stroke: 2px rgb(255, 255, 255);}
    .line{height:200px; width: 2px;  background:#fff;}
  }
  
  .v-line{height: 3px; width: 100%; background: var(--green_gradient)}
  .partners{
    .white-wrp {
      background: #fff;
      padding: 20px;
      .d-flex img{
        width: 30%;
      }
    }
    .title h3 {
        background:#000;
        color: #fff;
        margin: 0;
        padding: 5px ;
    }}  
    .bg-grey {
        background: #f2f2f2;
    }
    
    .inside-border {
        background: url("../images/Line1.png") no-repeat center ;
        background-size: contain;
        /* background: linear-gradient(270deg, rgba(255,255,255,0) 85%, #f2f2f2 100%),
        linear-gradient(90deg, transparent 85%, #f2f2f2 100%); */
        .sand-box {
            text-align: center;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            .img-down, .con-down {
              display: flex;
              justify-content: center;
              width: 100%;
          }
        }
        .swiper-slide{background: transparent;}
          h2 {
              position: relative;
              background: linear-gradient(white, white) padding-box, linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%) border-box;
              border: 2px solid transparent;
              border-radius: 50%;
              padding: 7px;
              width: 20px;
              height: 20px;
              margin: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
            }
      }
      
      .inside-border {
        .content-box, .img_box {
            height: 200px;
            display: flex;
        }
      }
      .content-box{
        width: 100% ;
        display: flex;
        padding: 20px;
        border: 2px solid #000;
        justify-content: center !important;
        align-items: center;
      }
      .g_border {
  
        background: #fff;
    }
      
    @media (max-width: 600px) {
        .hundred h1 {
            font-size: 50px !important;
        }
        .sand-box {
            p, li {
                font-size: 12px;
            }
        }
        .inside-border {
            height: 500px;
        }
    }
    
    /* slider year end */