/* Fonts*/
@font-face {
  font-family: " Articulat CF";
  src: url(/fonts/articulat-cf/articulatcf-regular.otf);
}
@font-face {
  font-family: " Articulat CF bold";
  src: url(/fonts/articulat-cf/Fontspring-DEMO-articulatcf-bold-BF64a38d89ce81e.otf);
}
@font-face {
  font-family: "SF Pro";
  src: url(/fonts/sf-pro/sf-pro-display-regular.otf);
}
@font-face {
  font-family: "SF Pro light";
  src: url(/fonts/sf-pro/sfprolight.ttf);
}
@font-face {
  font-family: "SF Pro bold";
  src: url(/fonts/sf-pro/SFPRODISPLAYBOLD.OTF);
}
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --black:#0C0A0B;
  --white:#fff;
  --b-overlay:#00000067;
  --primary:"Articulat CF";
  --secondary:"SF Pro", sans-serif;
}
:root a {
  text-decoration: none;
}

body {
  font-family: "SF Pro", sans-serif;
  overflow-x: hidden;
  letter-spacing: 0.5px;
  position: relative;
}

html {
  overflow-x: hidden;
}

section {
  max-width: 1720px !important;
  margin-left: auto;
  margin-right: auto;
}

.primary {
  font-family: "Articulat CF";
}

.secondary-font, .secondary {
  font-family: "SF Pro", sans-serif; /* Same font as primary */
}

.sf-light {
  font-family: "SF Pro light";
}

.sf-bold {
  font-family: "SF Pro bold";
}

.b-black {
  background-color: var(--black);
}

body {
  position: relative;
  height: 100%;
}

h1 {
  font-family: "SF Pro Light";
  letter-spacing: 2.5px;
}

h2 {
  font-size: 2.5em;
  font-family: "SF Pro", sans-serif;
  font-weight: 600;
}

.fw-300 {
  font-weight: 300;
}

h2.big {
  font-size: 3em;
}

h3 {
  font-size: 24px;
}

h4 {
  font-family: "SF Pro", sans-serif;
  font-size: 22px;
}

p, a {
  font-size: 18px;
}

.secondary-font {
  font-family: "SF Pro", sans-serif; /* Same font as primary */
  font-size: 24px;
}

.big-p {
  font-size: 24px;
}

@media (max-width: 767px) {
  h2.big {
    font-size: 2em;
  }
  h2 {
    font-size: 2em;
  }
  .big-p {
    font-size: 20px;
  }
}
.p-top {
  padding-top: 80px;
}

.p-bottom {
  padding-bottom: 80px;
}

.p-left {
  padding-left: 64px;
}

.p-right {
  padding-right: 64px;
}

@media (max-width: 767px) {
  .p-top {
    padding-top: 40px;
  }
  .p-bottom {
    padding-bottom: 40px;
  }
  .p-left {
    padding-left: 16px;
  }
  .p-right {
    padding-right: 16px;
  }
  .px-xs-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}
.bg-black {
  background-color: var(--black);
}

.bg-black-3 {
  background-color: rgba(18, 18, 18, 0.22);
}

.bg-blur {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.bg-light {
  background-color: var(--white) !important;
}

.br-100 {
  border-radius: 100%;
}

@media (min-width: 767px) {
  .w-lg-75 {
    width: 75%;
  }
  .w-lg-60 {
    width: 60%;
  }
}
.w-fitcontent {
  width: -moz-fit-content;
  width: fit-content;
}

.o-5 {
  opacity: 0.5;
}

.o-7 {
  opacity: 0.7;
}

.o-8 {
  opacity: 0.8;
}

.b-btn {
  padding: 13px 18px;
  background: var(--black);
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid var(--white);
  color: var(--white);
  background: linear-gradient(to left, var(--black) 50%, var(--white) 50%) right;
  background-size: 200%;
  transition: 0.3s ease-out;
  font-family: "SF Pro light";
}
.b-btn svg {
  fill: var(--white);
}
.b-btn:hover {
  background-position: left;
  color: #000;
}
.b-btn:hover svg {
  fill: var(--black) !important;
}

.t-btn {
  padding: 13px 18px;
  background: transparent;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid var(--white);
  color: var(--white);
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, var(--white) 50%) right;
  background-size: 200%;
  transition: 0.3s ease-out;
}
.t-btn svg {
  fill: var(--white);
}
.t-btn:hover {
  background-position: left;
  color: #000;
}
.t-btn:hover svg {
  fill: var(--black) !important;
}

.cta {
  padding: 84px 16px;
}
@media (max-width: 767px) {
  .cta {
    padding: 40px 16px;
  }
}

.submit {
  font-style: normal;
}

.breadcrumb {
  padding: 64px;
  margin: 0;
}
.breadcrumb h2, .breadcrumb p {
  font-family: "SF Pro light";
}
.breadcrumb h2 {
  font-size: 3em;
}
.breadcrumb p {
  font-size: 24px;
  line-height: normal;
  letter-spacing: 1.03px;
}
.breadcrumb ul {
  list-style: none;
  padding: 0;
}
.breadcrumb a {
  font-size: 15px;
  color: white;
}
.breadcrumb svg {
  fill: var(--white);
}
.breadcrumb li a, .breadcrumb li p {
  font-size: 15px;
  margin: 5px 0;
}
@media (max-width: 767px) {
  .breadcrumb {
    padding: 24px 16px;
  }
  .breadcrumb p {
    font-size: 20px;
  }
  .breadcrumb h2 {
    font-size: 2em;
  }
}

header {
  z-index: 999999 !important;
}

.who-we-are nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.who-we-are nav button {
  color: var(--black) !important;
  border-color: var(--black) !important;
}

.navbar button.btn {
  border-radius: 0 !important;
}

.story-slider {
  overflow: hidden;
}
.story-slider .swiper-slide {
  overflow: hidden;
}
.story-slider .swiper-slide:hover img {
  transform: scale(1.2);
}
.story-slider h4 {
  margin-top: -5px;
}
.story-slider img {
  min-height: 730px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.press h5 {
  margin-top: -0.5em;
}

.mission img:nth-child(2) {
  border-radius: 100%;
}
.mission img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.mission p {
  font-size: 2.5em;
  line-height: normal;
}
.mission a {
  font-size: 1.5em;
}
@media (max-width: 767px) {
  .mission {
    min-height: 70vh;
  }
  .mission img {
    width: 300px;
    height: 300px;
    max-width: 400px;
    max-height: 400px;
  }
  .mission p, .mission a {
    font-size: 1.15em;
  }
}

.big-cta {
  background: url(../images/career/careersimg.png) center center/cover no-repeat fixed;
  position: relative;
  z-index: 1;
}
.big-cta::before {
  content: "";
  background: var(--b-overlay);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.big-cta .row {
  min-height: 90vh;
}
.big-cta h1 {
  font-size: 66px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .big-cta h1 {
    font-size: 38px;
  }
}

#careers .big-cta {
  background: url(../images/career/careersimg2.png) center center/cover no-repeat fixed;
  position: relative;
  z-index: 1;
}

.events .col-lg-6:nth-child(1) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.verticals .box {
  min-height: 90vh;
  position: relative;
}
.verticals .box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3) 100%, rgb(0, 0, 0) 0%);
  left: 0;
}
.verticals .swiper-slide:nth-child(1) .box {
  background: url(../images/brands/employees.png) center center/cover no-repeat scroll;
}
.verticals .swiper-slide:nth-child(2) .box {
  background: url(../images/brands/countries.png) center center/cover no-repeat scroll;
}
.verticals .swiper-slide:nth-child(3) .box {
  background: url(../images/brands/stores.png) center center/cover no-repeat scroll;
}
.verticals .swiper-slide:nth-child(4) .box {
  background: url(../images/brands/productionfacilities.png) center center/cover no-repeat scroll;
}
.verticals .text-box {
  transform: rotate(270deg);
  position: absolute;
  bottom: 250px;
  left: -100px !important;
  width: -webkit-fill-available;
}
@media (max-width: 767px) {
  .verticals .text-box {
    bottom: 380px;
    left: -180px !important;
  }
}
.verticals h3 {
  font-size: 80px;
  font-weight: 600;
  line-height: normal;
}

.sus .sus-con {
  min-height: 520px;
  width: 100%;
}
.sus .sus-con .sus-head {
  transform: rotate(270deg);
  bottom: 150px;
  left: -80px;
  transition: 0.3s ease-in-out;
  font-size: 22px;
}
.sus .sus-con .sus-body {
  left: -100%;
  bottom: 60px;
  opacity: 0;
}
.sus .sus-con .sus-btn {
  left: -100%;
  bottom: 15px;
  opacity: 0;
  z-index: 0;
}
.sus .sus-con .sus-body {
  transition: 0.1s ease-in-out;
}
.sus .sus-con .sus-btn {
  transition: 0.4s ease-in-out;
}
.sus .sus-con svg {
  width: 50px;
  height: 50px;
  transition: 0.4s ease-in-out;
}
.sus .sus2 .sus-con .sus-head {
  bottom: 190px;
}
.sus .sus1 {
  background: url(../images/sustainability.png) center center/cover no-repeat scroll;
  z-index: 999 !important;
}
.sus .sus1:hover .sus-head {
  bottom: 280px;
  font-size: 14px;
}
.sus .sus1:hover .sus-body {
  left: 20px;
  opacity: 1;
  display: block;
  bottom: 60px;
}
.sus .sus1:hover .sus-btn {
  left: 20px;
  opacity: 1;
  display: block;
  bottom: 15px;
  z-index: 998 !important;
}
.sus .sus1:hover svg {
  width: 15px !important;
  height: 15px !important;
}
.sus .sus2 {
  background: url(../images/innovation.png) center center/cover no-repeat scroll !important;
  z-index: 0 !important;
  overflow: hidden;
}
.sus .sus2:hover .sus-head {
  bottom: 280px;
  font-size: 14px;
}
.sus .sus1:hover, .sus .sus2:hover, .sus .sus1, .sus .sus2 {
  position: relative;
}
.sus .sus1:hover::before, .sus .sus2:hover::before, .sus .sus1::before, .sus .sus2::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.178) 45%, rgba(0, 0, 0, 0.747) 85%);
}

.animation1 .sus1:hover .sus-head {
  bottom: 300px;
}

.hover-2 .sus .sus2 {
  background: url(../images/global.png) center center/cover no-repeat scroll !important;
  z-index: 0 !important;
  overflow: hidden;
}
.hover-2 .sus .sus1 {
  background: url(../images/ourhistory.jpg) center center/cover no-repeat scroll;
  z-index: 999 !important;
}

.hoverani-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--black);
}
.hoverani-swiper .swiper-pagination .swiper-pagination-bullet {
  border-color: var(--black);
}
.hoverani-swiper .swiper-slide {
  overflow: hidden;
}
.hoverani-swiper .swiper-slide .position-absolute {
  bottom: 0px;
  transition: 0.5s ease-in-out;
}
.hoverani-swiper .swiper-slide svg.position-absolute {
  bottom: 10px;
  left: 10px;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.hoverani-swiper .swiper-slide:hover svg.position-absolute {
  bottom: 10px;
  opacity: 0;
}
.hoverani-swiper .swiper-slide:hover .f-con {
  height: 50px;
}
.hoverani-swiper .swiper-slide:hover .s-con {
  height: 150px;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.hoverani-swiper .s-con {
  height: 0;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

footer li {
  list-style: none;
}
footer a, footer p {
  font-size: 13px;
  color: var(--white);
  font-weight: 400;
}
footer .border-top {
  border-color: rgba(255, 255, 255, 0.1725490196);
  border-width: 0.5px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

.swiper-button-next, .swiper-button-prev {
  width: 72px;
  background-color: #fff;
  height: auto;
  border-radius: 100%;
  padding: 23px;
}

.swiper-button-next svg {
  transform: rotate(180deg);
}

.swiper-button-next svg, .swiper-button-prev svg {
  width: 52px !important;
}

.press {
  padding-right: 40px;
}
@media (min-width: 992px) {
  .press .col-lg-6 {
    width: 55%;
  }
  .press .col-lg-2-5 {
    width: 20%;
  }
}
.press .pressswiper .swiper-slide-active {
  margin-right: 100px !important;
  padding-right: 100px;
}
@media (max-width: 767px) {
  .press .pressswiper .swiper-slide-active {
    padding-right: 10px;
  }
}
.press .pressswiper .swiper-button-next, .press .pressswiper .swiper-button-prev {
  width: 32px;
  background-color: transparent;
  padding: 0;
}
.press .pressswiper .presspagination {
  top: 100px;
  right: -100px;
}
@media (max-width: 767px) {
  .press .pressswiper .presspagination {
    top: 50px;
  }
}
.press .pressswiper .presspagination .swiper-button-next {
  position: absolute;
  right: 100px;
}
.press .pressswiper .presspagination .swiper-button-prev {
  left: -190px;
  position: absolute;
}

.verticalswiper .verticals-pagination .swiper-button-next, .verticalswiper .verticals-pagination .swiper-button-prev {
  position: absolute;
  bottom: 0;
  top: auto;
  right: 0;
  left: auto;
}
.verticalswiper .verticals-pagination .swiper-button-prev {
  right: 100px;
}

.double-slider .swiper-button-next, .double-slider .swiper-button-prev {
  bottom: 50px;
  position: absolute;
  top: auto;
  left: auto;
  background-color: transparent;
}
.double-slider .swiper-button-next svg, .double-slider .swiper-button-prev svg {
  fill: #fff;
}
.double-slider .swiper-button-next {
  right: 0px;
}
.double-slider .swiper-button-prev {
  right: 40px;
}

.who-we-are-swiper .swiper-pagination {
  bottom: 0px;
}
.who-we-are-swiper .swiper-slide {
  background-color: transparent;
}
.who-we-are-swiper .swiper-slide-prev, .who-we-are-swiper .swiper-slide-next {
  opacity: 0.25;
}
.who-we-are-swiper .swiper-slide-prev p, .who-we-are-swiper .swiper-slide-next p {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.who-we-are-swiper img {
  max-width: 592px;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 767px) {
  .who-we-are-swiper .swiper-button-next, .who-we-are-swiper .swiper-button-prev {
    top: 28%;
  }
  .who-we-are-swiper .swiper-slide-active .big-p {
    position: absolute;
    width: 850px;
    left: -25%;
  }
  .who-we-are-swiper .swiper-wrapper {
    min-height: 100%;
  }
  .who-we-are-swiper .swiper-pagination {
    bottom: 0px;
  }
}

.bg-overlay {
  position: relative;
}
.bg-overlay .row {
  z-index: 999 !important;
  position: relative !important;
}
.bg-overlay::before {
  content: "";
  background-color: var(--b-overlay);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.who-we-are .breadcrumb {
  background: url(/images/breadcrumb-bg.avif) center center/cover no-repeat fixed;
}
.who-we-are .sustain {
  background: url(/images/who-we-are/sustainablefuture.webp) center center/cover no-repeat fixed;
}
.who-we-are .lastsec {
  margin-top: 5rem;
}
.who-we-are .lastsec .col-12:nth-child(1) {
  background: url(/images/career/careersimg.png) center center/cover no-repeat scroll;
}
.who-we-are .lastsec .col-12:nth-child(2) {
  background: url(/images/who-we-are/ourbrands.png) center center/cover no-repeat scroll;
}
.who-we-are .lastsec .bg-overlay1 {
  box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.bg-overlay1 {
  box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.5);
}

#brands .lastsec .col-12:nth-child(1) {
  background: url(/images/brands/investor-relation.png) center center/cover no-repeat scroll;
}
#brands .lastsec .col-12:nth-child(2) {
  background: url(/images/brands/connectwithus.jpg) center center/cover no-repeat scroll;
}

#investor .lastsec .col-12:nth-child(1) {
  background: url(/images/investor/ourbrands.png) center center/cover no-repeat scroll;
}
#investor .lastsec .col-12:nth-child(2) {
  background: url(/images/who-we-are/ourbrands.png) center center/cover no-repeat scroll;
}

.mobhov a.t-btn {
  border: 1px solid #000;
}
.mobhov svg, .mobhov a.t-btn {
  color: #000;
  fill: #000;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

/* banner CSS */
#rental {
  cursor: pointer;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#rental video {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  overflow: hidden;
}

.banner-heading-arrow button {
  background: transparent;
  border: none;
}

.banner-content-heading {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -moz-max-content;
  width: max-content;
}

.banner-content-heading h1 {
  font-size: 72px;
}

.banner-content {
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -moz-max-content;
  width: max-content;
}

.banner-heading-arrow {
  text-align: center;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -moz-max-content;
  width: max-content;
}

.banner-content h4 {
  font-weight: normal;
}

.modal {
  overflow: hidden;
  width: 100%;
}

.modal-content {
  background: transparent;
  border: none;
}

.modal-header {
  border-bottom: none;
}

.btn-close {
  opacity: 1;
  font-size: 30px;
}

.fixed-head {
  background-color: rgba(0, 0, 0, 0); /* Fully transparent background */
  position: fixed; /* Keeps the header fixed at the top of the page */
  top: 0;
  left: 0;
  width: 100%; /* Make sure the header spans the entire width */
  z-index: 1000; /* Ensure the header is above other content */
}

.header-container {
  background-color: rgba(0, 0, 0, 0); /* Ensures transparency for the header container */
}

.navbar {
  background-color: rgba(0, 0, 0, 0); /* Transparent navbar */
}

.nav-item a {
  color: #fff;
  cursor: pointer;
}

.offcanvas-body button {
  color: #fff;
  border: 1px solid #fff;
}

.fixed-head.scrolled {
  background-color: white;
  transition: background-color 0.3s ease;
}

.fixed-head.scrolled .nav-item a {
  color: black;
  transition: color 0.3s ease;
}

/* Header hover effect */
.fixed-head:hover {
  background-color: white; /* Change background color on hover */
}

.fixed-head:hover .nav-item a {
  color: black; /* Change nav link color on hover */
}

.fixed-head:hover .logo-default {
  display: none !important; /* Hide the default logo on hover */
}

.fixed-head:hover .logo-black {
  display: block !important; /* Show the black logo on hover */
}

.fixed-head:hover .offcanvas-body .btn {
  color: black; /* Change button text color on hover */
  border-color: black; /* Change button border color on hover */
}

/* Hamburger icon code */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.fixed-head.scrolled .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.fixed-head:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Default button styles */
.offcanvas-body .btn {
  color: #fff;
  border: 1px solid #fff;
}

/* Button styles when scrolled */
.offcanvas-body .btn.scrolled {
  color: black;
  border: 1px solid black;
}

/* Hide the black logo and show the default logo initially */
.logo-default {
  display: block;
}

.logo-black {
  display: none;
}

/* When scrolled, hide the default logo and show the black logo */
.scrolled .logo-default {
  display: none;
}

.scrolled .logo-black {
  display: block;
}

.nav-item a {
  color: #fff;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-item a:hover::after {
  transform: scaleX(1);
}

.fixed-head.scrolled .nav-item a {
  color: black;
}

.fixed-head:hover .nav-item a {
  color: black;
}

/*Swiper-1 code*/
.swiper-slide-1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  max-width: 572px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease, filter 0.5s ease; /* Smooth transition for transform and filter */
}

.swiper-slide-active-1 {
  transform: scale(1.1); /* Slightly scale up the active slide */
  filter: brightness(1); /* Normal brightness for the active slide */
  width: 540px !important;
}

.swiper-slide-next-1,
.swiper-slide-prev-1 {
  filter: brightness(0.6); /* Darken the non-active slides */
  background: rgba(0, 0, 0, 0.5); /* Dark gradient effect */
}

.swiper-slide-prev-1 {
  background: rgba(0, 0, 0, 0.5); /* Dark gradient effect for the previous slide */
}

.swiper-slide-next-1 {
  background: rgba(0, 0, 0, 0.5); /* Dark gradient effect for the next slide */
}

.swiper-slide-active-1.swiper-slide-next-1,
.swiper-slide-active-1.swiper-slide-prev-1 {
  background: none; /* Remove gradient from the active slide */
}

.swiper-caption p {
  opacity: 0;
  transform: translateX(-20px); /* Start position: off-screen to the left */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.swiper-caption p.visible {
  opacity: 1;
  transform: translateX(0); /* End position: centered */
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: transparent;
  opacity: 1;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 32px;
  background-color: #fff;
  border-radius: 14px;
}

.swiper-1 .swiper-pagination {
  position: relative !important;
  bottom: -18px !important;
}

#grad1, .grad-blue {
  background: rgb(19, 25, 121);
  background: url(/images/whowearebg.avif) center center/cover no-repeat fixed;
}

/*End of swiper-1 code*/
/*Swiper 2 code*/
.mySwiper-2 {
  width: 100%;
}

.swiper-2 {
  height: 170px;
  box-sizing: border-box;
  background: #000;
  opacity: 0.8;
  z-index: 9;
}

.swiper-2 .swiper-slide {
  height: 100%;
}

.swiper-2 .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-sub-slide-2 img, .swiper-slide-2 img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-sub-slide-2 {
  margin: 0px !important;
  display: flex;
  align-items: center;
  background: #000 !important;
  position: relative;
}

.swiper-sub-slide-2 img {
  width: 50%;
  height: auto !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-1 {
  position: relative;
}
.container-1 .pos-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
}

.slide-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
  border-radius: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin: 10px;
  padding: 5px 10px;
}

.slider-icons {
  text-align: -webkit-center !important;
}

.swiper-wrapper .swiper-slide-thumb-active .icon-svg {
  display: inline;
}

.swiper-slide .icon-svg {
  display: none;
}

/*End of swiper 2 code*/
@media only screen and (max-width: 600px) {
  .swiper-sub-slide-2 img {
    width: 70% !important;
  }
  .banner-content-heading h1 {
    font-size: 42px;
  }
  .banner-content {
    top: 60%;
  }
  .banner-heading-arrow {
    top: 75%;
  }
  .nav-item a {
    color: #000;
  }
  .offcanvas-body button {
    color: #000;
    border: 1px solid #000;
  }
  .nav-item a {
    color: #000;
  }
  .swiper-slide-1 {
    max-height: 500px;
  }
  .swiper-2 {
    height: 100px;
  }
  .double-slider-pagination .swiper-button-next, .double-slider-pagination .swiper-button-prev {
    display: none !important;
  }
}
@media only screen and (min-width: 600px) {
  .mySwiper-2 {
    height: 100vh;
  }
}
.f-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px !important;
}

.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */