/* Fonts*/
@font-face {
  font-family:' Articulat CF';
  src: url(/fonts/articulat-cf/articulatcf-regular.otf);
}
@font-face {
  font-family:' Articulat CF bold';
  src: url(/fonts/articulat-cf/Fontspring-DEMO-articulatcf-bold-BF64a38d89ce81e.otf);
}
@font-face {
  font-family: 'SF Pro';
  src: url(/fonts/sf-pro/sf-pro-display-regular.otf);
}
@font-face {
  font-family: 'SF Pro light';
  src: url(/fonts/sf-pro/sfprolight.ttf);
}
@font-face {
  font-family: 'SF Pro bold';
  src: url(/fonts/sf-pro/SFPRODISPLAYBOLD.OTF);
}

:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    a{text-decoration: none;
    &:hover{text-decoration: underline;}
    }
    --black:#0C0A0B;
    --white:#fff;
    --b-overlay:#00000067;
    --primary:'Articulat CF';
    --secondary:'SF Pro', sans-serif;
}



// fonts

body {
  font-family: 'SF Pro', sans-serif;
  overflow-x: hidden;
  letter-spacing: 0.5px;
  position: relative;
  
}
html{
  overflow-x: hidden;
}
section{
  max-width: 1720px !important;
  margin-left: auto;
  margin-right: auto;
}

// bootstrap overrides
// @media (min-width: 1200px) {
//   .container{
//     max-width: 1250px;
//   }
  
// }

.primary{
  font-family: "Articulat CF";
}
.secondary-font,.secondary {
font-family: 'SF Pro', sans-serif; /* Same font as primary */

}
.sf-light{font-family: 'SF Pro light';}
.sf-bold{font-family: 'SF Pro bold';}
.b-black{background-color:var(--black) ;}
body {position: relative;height: 100%;}
h1{font-family: 'SF Pro Light';letter-spacing: 2.5px;font-weight: bold;font-size: 3em;}
  h2{font-size: 2.3em;font-family:  'SF Pro', sans-serif;font-weight: 600;}.fw-300{font-weight: 300;}
  h2.big{font-size: 3.0em;}
  h3{font-size: 24px;}
  h4{font-family: 'SF Pro', sans-serif;font-size: 22px;}
  p,a{font-size: 18px;}
  .secondary-font {
    font-family: 'SF Pro', sans-serif; /* Same font as primary */
    font-size: 24px;
  }
  .big-p{font-size: 24px;}
  @media (max-width:767px) {
    h2.big{font-size: 2.0em;}
    h2{font-size: 2em;}
    .big-p{font-size: 20px;}
  }
  
  // paddings
  .p-top{padding-top: 80px;}
   .p-bottom{padding-bottom: 80px;}
   .p-left{padding-left: 64px;}
   .p-right{padding-right: 64px;}
   @media(max-width:767px){
    .p-top{padding-top: 40px;}
    .p-bottom{padding-bottom: 40px;}
    .p-left{padding-left: 16px;}
    .p-right{padding-right: 16px;}
    .px-xs-4{padding-left: 1.5rem!important;padding-right: 1.5rem!important;}
   }
 
  //backgrounds

.bg-black{background-color: var(--black);}
.bg-black-3{background-color:rgba(18, 18, 18, 0.22);}
.bg-blur{backdrop-filter: blur(20px);}
.bg-light{background-color: var(--white) !important;}

// border-radius
.br-100{border-radius: 100%;}

// width
  @media (min-width:767px) {
    .w-lg-75{width: 75%;}
    .w-lg-60{width: 60%;}
  }
  .w-fitcontent{
    width: fit-content;
  }
  .vh-100{min-height:100vh}
  // opacity
  .o-5{opacity: 0.5;}
  .o-7{opacity: 0.7;}
  .o-8{opacity: 0.8;}


  // btn and cta classes
.b-btn{padding: 13px 18px;background: var(--black);width: fit-content;border: 1px solid var(--white);color: var(--white);
  background: linear-gradient(to left, var(--black) 50%, var(--white) 50%) right;
  background-size: 200%;
  transition: .3s ease-out;
  font-family: 'SF Pro light';
  svg{fill: var(--white);}
  &:hover {
    text-decoration: none !important;
  background-position: left;
  color:#000;
  svg{fill:var(--black) !important}
}
}
.t-btn{padding: 13px 18px;background: transparent;width: fit-content;border: 1px solid var(--white);color: var(--white);
  background: linear-gradient(to left,#00000000 50%, var(--white) 50%) right;
  background-size: 200%;
  transition: .3s ease-out;
  svg{fill: var(--white);}
  &:hover {
    text-decoration: none !important;
  background-position: left;
  color:#000;
  svg{fill:var(--black) !important}
}


}
.cta{padding: 84px 16px;@media (max-width:767px) {padding: 40px 16px;}}



.submit{
  font-style: normal;

}
// breadcumb
.breadcrumb{
  padding: 64px;margin:0;
  h2,p{font-family: 'SF Pro light';}
   h2{ font-size: 3.0em;}
  p{font-size: 24px;line-height: normal;letter-spacing: 1.03px;}
  ul{list-style: none;padding: 0;}
  a{font-size: 15px;color: white;}
  svg{fill: var(--white);}
  li{a,p{font-size: 15px;margin: 5px 0 ;}}

  @media (max-width:767px) {
    padding: 24px 16px;
    p{font-size: 20px;}
    h2{font-size: 2em;}
  }

}



header{z-index: 999999 !important;}
.who-we-are nav {
  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
button{
  color: var(--black) !important;
  border-color: var(--black) !important;
}
}
.navbar button.btn {border-radius: 0 !important;}















.story-slider{
    // min-width: 416px;
    // max-width: 416px;
    overflow: hidden;
    .swiper-slide{overflow: hidden;}
    .swiper-slide:hover img{
            transform: scale(1.2);
            
        }
    h4{margin-top: -5px;}
    img{
        min-height: 730px;
    object-fit: cover;
        transition: transform 0.3s ease-in-out;   
        
    }
  }
.press  h5{margin-top: -0.5em;}
.mission{
 

    img:nth-child(2){border-radius: 100%;}
    img{object-fit: cover;display: block;}
    // .img-cont{max-height: 400px;}
    // p{font-size: 2em; line-height: normal ;}
    // a{font-size: 1.5em;}
    @media (max-width:767px) {
      img{width: 300px;height: 300px;max-width: 400px;max-height: 400px;}
      p,a{font-size:1.15em ;}
      min-height: 70vh;

      
    }
}

// hover
// .clients{
//   background: url(/images/clients.avif) center center/cover no-repeat fixed ;
//   min-height: 90vh;
// }
// big cta
.big-cta{
  background: url(../images/career/careersimg.webp) center center/cover no-repeat fixed;position: relative;z-index: 1;
  &::before{content: ""; background: var(--b-overlay);position: absolute;width: 100%;height: 100%;top: 0;z-index: -1;}
  .row{min-height: 90vh;}
  h1{font-size: 56px;font-weight: 700 ; @media (max-width:767px) {font-size: 38px; }}
}
#careers .big-cta{
  background: url(../images/career/careersimg2.png) center center/cover no-repeat fixed;position: relative;z-index: 1;

}

.events{
  .col-12:nth-child(1){border-right: 1px solid rgb(0 0 0 / 20%);}
}

.verticals{
  .box{min-height: 90vh;position: relative;
  &::before{content: "";position: absolute;width: 100%;height: 100%;background: linear-gradient(to left, rgba(0, 0, 0, 0.3) 100%, rgb(0, 0, 0) 0%);left: 0;}
  }

  .swiper-slide:nth-child(1) .box{background: url(../images/brands/employees.png) center center/cover no-repeat scroll;}
  .swiper-slide:nth-child(2) .box{background: url(../images/brands/countries.webp) center center/cover no-repeat scroll;}
  .swiper-slide:nth-child(3) .box{background: url(../images/brands/stores.webp) center center/cover no-repeat scroll;}
  .swiper-slide:nth-child(4) .box{background: url(../images/brands/productionfacilities.webp) center center/cover no-repeat scroll;}
  .text-box{transform: rotate(270deg);position: absolute;bottom: 250px; left: -100px !important;width: -webkit-fill-available;
              @media (max-width:767px) {bottom:380px;left:-180px !important;
                
              }
  }
  h3{font-size: 80px;font-weight: 600;line-height: normal;}
}


// animation
.sus{
 
  .sus-con{min-height: 520px;width: 100%;
    .sus-head{transform: rotate(270deg);bottom: 180px;left: -80px; transition: .3s ease-in-out;font-size: 22px;}
    .sus-body{left: -100%;bottom: 60px;opacity: 0;}
    .sus-btn{left: -100%;bottom: 15px;opacity: 0; z-index: 0;}
    .sus-body{transition: .1s ease-in-out; }
    .sus-btn{transition: .4s ease-in-out;}
     svg{width: 50px;height: 50px; transition: .4s ease-in-out;}
     
}


// .sus2{
//   .sus-con{
//     .sus-head{bottom: 190px;}
//   }
// }

.sus1{background: url(../images/sustainability.png) center center/cover no-repeat scroll;z-index: 999 !important;
  &:hover .sus-head{bottom: 280px;font-size: 14px;
  @media (max-width:1234px) {
    bottom: 300px;
  }
  }
  &:hover .sus-body{left: 20px;opacity: 1;display: block;bottom: 90px;} 
  &:hover .sus-btn{left: 20px;opacity: 1;display: block;bottom: 45px; z-index: 998 !important;} 
  &:hover svg{width: 15px !important;height: 15px !important;} 
      }
      .sus2{background: url(../images/innovation.webp) center center/cover no-repeat scroll !important;z-index: 0 !important;overflow: hidden;
        //  .sus-head{bottom: 150px !important;}
        &:hover .sus-head{font-size: 14px; bottom: 283px;
          @media (max-width:1234px) {
            bottom: 300px;
          }
}
       }}
      
      
   
.sus1:hover,.sus2:hover ,.sus1,.sus2 {
  position: relative;
  &::before{
  content: ""; top: 0;left: 0;  position: absolute;width: 100%;height: 100%; background: rgb(0,0,0);background: linear-gradient(270deg, rgba(0, 0, 0, 0.178) 45%, rgba(0, 0, 0, 0.747) 85%);
} 
}
// .hover-2 .sus-2{
//   &:hover .sus-head{bottom: 260px !important; }
// }

.animation1{
  .sus1:hover .sus-head{bottom: 300px;} 
}

// home 2 animation
.hover-2 .sus{
  .sus2{background: url(../images/global.webp) center center/cover no-repeat scroll !important;z-index: 0 !important;overflow: hidden;}
.sus1{background: url(../images/ourhistory.webp) center center/cover no-repeat scroll;z-index: 999 !important;
}}
// careers page hover animation and swiper
.hoverani-swiper{
  
    // .swiper-pagination-bullet{ background-color: var(--b-overlay);}
    .swiper-pagination-bullet-active{background-color: var(--black);}
    .swiper-pagination-bullet{border-color: var(--black);}
  }
  .swiper-slide{overflow: hidden;
  .position-absolute{bottom: 0px;transition: .5s ease-in-out;}
  svg.position-absolute{bottom: 10px;left: 10px;opacity: 1; transition: 0.3s ease-in-out;}
    
 &:hover {
        svg.position-absolute{bottom: 10px;opacity: 0;}
      
        .f-con{height: 50px;}
        .s-con{height: 150px;transition: .5s ease-in-out;opacity: 1;}
}}  
   
// .f-con{height:0;}
        .s-con{height: 0;transition: .5s ease-in-out;opacity: 0;}




// footer
footer{
  li{
    list-style: none;
  } a,p{font-size: 13px;color: var(--white);font-weight: 400;font-family: 'SF Pro light';}
  .border-top{border-color: #ffffff2c;border-width:0.5px ;}

}


// swiper
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev::after , .swiper-button-next::after {display: none;
}
.swiper-button-next,.swiper-button-prev{
  width: 72px;background-color: #fff;
  height: auto;
  border-radius: 100%;
  padding: 23px;
}
.swiper-button-next svg{transform: rotate(180deg);}
.swiper-button-next svg,.swiper-button-prev svg{
width: 52px !important;
}
.press{padding-right: 40px;
  @media (min-width: 992px) {
    .col-lg-6 {width: 55%;}
    .col-lg-2-5{width: 20%;}
}
.pressswiper{
  .swiper-slide-active{padding-right: 50px;}
 @media (max-width:767px) { .swiper-slide-active{padding-right: 10px;}}
  .swiper-button-next,.swiper-button-prev{
    width: 42px;background-color: transparent;padding: 10px;border: 1px solid  var(--black);
    
  }}
  .presspagination{
    .swiper-button-next, .swiper-button-prev{padding:16px !important;width: 55px; border: 1px solid var(--black);}
  //  position: absolute;
  //  top:50px;
  //  right: 0;
    @media (max-width:767px) {margin: -30px 0 30px 0;}
  
  }
}

.verticalswiper{
  .verticals-pagination{
    @media (min-width:767px) {
      display: none;
      
    }
  .swiper-button-next,.swiper-button-prev{
    position: absolute;
    bottom: 0;top: auto;right:0 ;left: auto;
  }
  .swiper-button-prev{
    right: 100px;
  }
}
}
.double-slider {
  @media (min-width:767px) {.first-slide .swiper-slide{ min-height: 800px;}}
  .swiper-button-next,.swiper-button-prev{
    bottom: 30px;
    position: absolute;
    top: auto;
    left: auto;
    background-color: transparent;
    svg{fill: #fff;}

  }
  .swiper-button-next{
    right: 0px;
  }.swiper-button-prev{
    right: 40px;
   
    // position: absolute;
  }
}
.who-we-are-swiper{
  .swiper-pagination{bottom: 0px;}
  .swiper-slide{background-color: transparent;  overflow:visible;}
  .swiper-slide-prev,.swiper-slide-next {
    opacity: 0.25;
    p{opacity: 0;transition: 0.3s ease-in-out;}
}
img{
  max-width: 592px;
  max-height: 300px;
  object-fit: cover;
}
@media (min-width:767px) {
  .position-relative{
    min-height: 150px !important;
}
  .swiper-button-next, .swiper-button-prev{
    top: 28%;
  }
  .swiper-slide{
    .big-p{text-align: center; width: 100%;left:0%;position: relative;}
  }
  .swiper-slide-active{
    .big-p{text-align: center; width: 200%;position: absolute;transform: translate(auto,-50%);left: -50%;}
  }
  
  .swiper-wrapper{min-height: 100%;}
  .swiper-pagination{bottom: 0px;} 
// .position-relative{
//   max-width: 800px;
//   width: 150%;
//  margin: auto;
//   .big-p{
//     position: absolute;
//     width: 100%;
//   }

// }  
}
}

.bg-overlay
{
  position: relative;
.row{z-index: 999 !important;position: relative !important;}
&::before{
  content: "";
  background-color: var(--b-overlay);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 0;

}}

// who we are
.who-we-are {
  .breadcrumb{
    background:linear-gradient(0deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url(/images//breadcrumb/whowearebanner.webp)  center center/cover no-repeat fixed;
    margin-left: auto;
    margin-right: auto;
  }
  .sustain{
    background: url(/images/who-we-are/sustainablefuture.webp)  center center/cover no-repeat fixed;
    // ::after{content: ""; background: var(--b-overlay);position: absolute;width: 100%;height: 100%;top: 0;z-index: -1;}
 
  }
  .lastsec{
    margin-top: 5rem;
    .col-12:nth-child(1){background: url(/images/career/careersimg.webp)  center center/cover no-repeat scroll;}
    .col-12:nth-child(2){background: url(/images/investor/ourbrands.png)  center center/cover no-repeat scroll;}
    .bg-overlay1{
      box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5);
    }
    }  
  
  }


  .bg-overlay1{
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5);
// z-index: -1;
  }
  
#brands{
  .breadcrumb{
    background:linear-gradient(0deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url(/images/breadcrumb/brands.webp)  center center/cover no-repeat fixed;}
  .lastsec{
    .col-12:nth-child(1){background: url(/images/brands/investorrelations.webp)  center center/cover no-repeat scroll;}
    .col-12:nth-child(2){background: url(/images/brands/connectwithus.png)  center center/cover no-repeat scroll;}
    }  }
#investor{
  .breadcrumb{
    background:linear-gradient(0deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url(/images/breadcrumb/investor.webp)  top center/cover no-repeat fixed;}
  .lastsec{
    .col-12:nth-child(1){background: url(/images/investor/ourbrands.png)  center center/cover no-repeat scroll;}
    .col-12:nth-child(2){background: url(/images/who-we-are/ourbrands.png)  center center/cover no-repeat scroll;}
    }  }

    #careers{
      .breadcrumb{
        background:linear-gradient(0deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url(/images/breadcrumb/career.webp)  center center/cover no-repeat fixed;}}
  
    #governance{
      .breadcrumb{
        background:linear-gradient(0deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url(/images/breadcrumb/governance.webp)  center center/cover no-repeat fixed;}}
  
    #contact{
      .breadcrumb{
        background:linear-gradient(0deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url(/images/breadcrumb/contact.webp)  top center/cover no-repeat fixed;}
        .contactpagination {.swiper-button-prev,.swiper-button-next{
        padding: 16px !important;
        width: 50px;
        border: 1px solid var(--black);
          }
          .swiper-button-prev{
            position: absolute;
            left: 0;
          }
          .swiper-button-next{
            position: absolute;
            left: 62px;
          }
      }
     @media (min-width:767px) {
    .card{min-height: 350px;    }  }
      
      }
  
.mobhov{
  a.t-btn{border: 1px solid #000;
    // &:hover{a.t-btn{color: #fff;fill: #fff;background-color: #000;}}

  }
  svg, a.t-btn{color: #000;fill: #000;}
  }

  .featured,.awards{
    .swiper-slide{
      height: 75%;
      img{object-fit: contain;}
    }
  }
  .awards{
    .swiper-slide{justify-content: space-between;}
    img{padding: 15px;background-color: var(--white);height: 100px;}
  }

  .tech-slideshow {
    height: 200px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    // border:1px solid black;
    font-size:0; 
  }
  
  .mover-1 {
    height: auto;
    width: max-content;
    vertical-align: middle;
    position: absolute;
    overflow-x:hidden;
    top: 0;
    left: 0;
    margin: 75px auto;
  
    animation: moveSlideshow 100s linear infinite;
  }
  
  .mover-1 img {
    display:inline-block;
    vertical-align:middle;
    width:252px;
    margin-right:75px;
    filter: grayscale(1);
   
    &:hover{
      filter: grayscale(0);
      transition: filter 0.5s ease-in-out;
    }
    
  }
  
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-4536px);  
    }
  }





















.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  opacity: 0;
}

  /* banner CSS */
  #rental{
    cursor: pointer;
    position: relative; 
    width: 100vw; 
    height: 100vh;
    overflow: hidden;
    #videoElement{
      filter: brightness(0.8);
    }
  }
  #rental video {
    overflow: hidden;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .banner-heading-arrow button{
    background: transparent;
    border: none;
  }
  .banner-content-heading {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
  }
  .banner-content-heading h1{
    font-size: 65px;
  }
  .banner-content {
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
  }
  .banner-heading-arrow{
    text-align: center;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
  }
  .banner-content h4 {
    font-weight: normal;
  }
  .modal {
    overflow: hidden;
    width: 100%;
  }
  .modal-content {
    background: transparent;
    border: none;
  }
  .modal-header {
    border-bottom: none;
  }
  .btn-close {
    opacity: 1;
    font-size: 30px;
  }

  .fixed-head {
    background-color: rgba(0, 0, 0, 0); /* Fully transparent background */
    position: fixed; /* Keeps the header fixed at the top of the page */
    top: 0;
    left: 0;
    width: 100%; /* Make sure the header spans the entire width */
    z-index: 1000; /* Ensure the header is above other content */
  }
  
  .header-container {
    background-color: rgba(0, 0, 0, 0); /* Ensures transparency for the header container */
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0); /* Transparent navbar */
  }

  .nav-item a{
    color: #fff;
    cursor: pointer;
    text-decoration: none !important;
  }
  .offcanvas-body button{
    color: #fff;
    border: 1px solid #fff;
  }
  .fixed-head.scrolled {
    background-color: white;
    transition: background-color 0.3s ease;
  }
  
  .fixed-head.scrolled .nav-item a {
    color: black;
    transition: color 0.3s ease;
  }

   /* Header hover effect */
.fixed-head:hover {
  background-color: white; /* Change background color on hover */
}

.fixed-head:hover .nav-item a {
  color: black; /* Change nav link color on hover */
}

.fixed-head:hover .logo-default {
  display: none !important; /* Hide the default logo on hover */
}

.fixed-head:hover .logo-black {
  display: block !important; /* Show the black logo on hover */
}

.fixed-head:hover .offcanvas-body .btn {
  color: black; /* Change button text color on hover */
  border-color: black; /* Change button border color on hover */
}


  /* Hamburger icon code */

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .fixed-head.scrolled .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .fixed-head:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

/* Default button styles */
  .offcanvas-body .btn {
    color: #fff;
    border: 1px solid #fff;
  }

  /* Button styles when scrolled */
  .offcanvas-body .btn.scrolled {
    color: black;
    border: 1px solid black;
  }

  /* Hide the black logo and show the default logo initially */
  .logo-default {
    display: block;
  }

  .logo-black {
    display: none;
  }

  /* When scrolled, hide the default logo and show the black logo */
  .scrolled .logo-default {
    display: none;
  }

  .scrolled .logo-black {
    display: block;
  }
  
  .nav-item a {
    color: #fff;
    cursor: pointer;
    position: relative;
    text-decoration: none;
  }
  
  .nav-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
 
  .nav-item a:hover::after {
    transform: scaleX(1);
  }
  .nav-item a.active::after {
    transform: scaleX(1) ;
  }
  .nav-item .active-home::after {
    transform: scaleX(1) ;
    background-color: #fff;
  }
  
  .fixed-head.scrolled .nav-item a {
    color: black;
    &.active-home::after{
      background-color: #000;
    }
  }
  
  .fixed-head:hover .nav-item a {
    color: black;
    &::after{
      background-color: #000;
    }
  }
  

  /*Swiper-1 code*/

  .swiper-slide-1 {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    max-width: 572px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease, filter 0.5s ease; /* Smooth transition for transform and filter */
  }
  
  .swiper-slide-active-1 {
    transform: scale(1.1); /* Slightly scale up the active slide */
    filter: brightness(1); /* Normal brightness for the active slide */
    width: 540px !important;
  }
  
  .swiper-slide-next-1,
  .swiper-slide-prev-1 {
    filter: brightness(0.6); /* Darken the non-active slides */
    background: rgba(0, 0, 0, 0.5); /* Dark gradient effect */
  }
  
  .swiper-slide-prev-1 {
    background: rgba(0, 0, 0, 0.5); /* Dark gradient effect for the previous slide */
  }
  
  .swiper-slide-next-1 {
    background: rgba(0, 0, 0, 0.5); /* Dark gradient effect for the next slide */
  }
  
  .swiper-slide-active-1.swiper-slide-next-1,
  .swiper-slide-active-1.swiper-slide-prev-1 {
    background: none; /* Remove gradient from the active slide */
  }
  .swiper-caption p {
    opacity: 0;
    transform: translateX(-20px); /* Start position: off-screen to the left */
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .swiper-caption p.visible {
    opacity: 1;
    transform: translateX(0); /* End position: centered */
  }
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: transparent;
  opacity: 1;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 32px;
  background-color: #fff;
  border-radius: 14px;
}
.swiper-1 .swiper-pagination{
  position: relative !important;
  bottom: -18px !important;
}
.swiper-1 {
  .swiper-slide-prev, .swiper-slide-prev{
    // opacity: 0.1 !important;
  }
}
#grad1,.grad-blue {
  background: rgb(19,25,121);
  background: url(/images/whowearebg.avif)  center center/cover no-repeat fixed;
  // min-height: 90vh;
}    

/*End of swiper-1 code*/

/*Swiper 2 code*/
.mySwiper-2 {
  width: 100%;
}

.swiper-2 {
  height: 170px;
  box-sizing: border-box;
  background: #000;
  opacity: 0.8;
  z-index: 9;
}

.swiper-2 .swiper-slide {
  height: 100%;
}

.swiper-2 .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-sub-slide-2 img, .swiper-slide-2 img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.swiper-sub-slide-2{
  margin: 0px !important;
  display: flex;
  align-items: center;
  background: #000 !important;
  position: relative;
}
.swiper-sub-slide-2 img{
  width: 50%;
  height: auto !important;
  object-fit: cover;
}
.container-1{
  position: relative;
  & .pos-absolute{position: absolute; bottom: 0;left: 0;}
}
.slide-button {
  position: absolute;
  bottom: 330px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
  border-radius: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin: 10px;
  padding: 5px 10px;
}
.slider-icons{
  text-align: -webkit-center !important;
}
.swiper-wrapper .swiper-slide-thumb-active .icon-svg{
 opacity: 1;
}
.swiper-slide .icon-svg {
  opacity: 0;
}
/*End of swiper 2 code*/

  @media only screen and (max-width: 600px) {
    .swiper-slide-2 img{
      height: 600px;
    }
    .swiper-sub-slide-2 img{
      width: 65% !important;
    }
    .banner-content-heading h1{
      font-size: 42px;
    }
    .banner-content{
      top: 60%;
    }
    .banner-heading-arrow{
      top: 75%;
    }
    .nav-item a{
      color: #000;
    }
    .offcanvas-body button{
      color: #000;
      border: 1px solid #000;
    }
    // .swiper-1 .swiper-button-prev {
    //   padding: 30px;
    // }
    // .swiper-button-next {
    //   padding: 30px;
    // }
    .nav-item a {
      color: #000;
    }
    .swiper-slide-1{
      max-height: 500px;
    }
    .swiper-2{
      height: 100px;
    }
    
     .double-slider-pagination {
      .swiper-button-next,.swiper-button-prev{
        display: none !important;
      }
  }}
  @media only screen and (min-width: 600px) {
    .mySwiper-2 {
      height: 100vh;
    }
  }




  // grid swiper
  .grid-swiper{
    width: 100%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .g-box{
      width: 100%;
      position: relative;
      z-index: 1;
      &::after {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(120deg, #000000, #000000);
        opacity: .4;
        }
      img{
        width: 100%; height: 100%;
      }
      p{position: absolute; bottom: 10px; text-align: center; width: 100%; color: #fff;
      z-index: 2;
      }
    }
  }


  main {
    position: relative;
    width: 100%;
    height: 90vh;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    overflow: hidden;

    
    li.item
    {
      &::before{
        position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background: transparent;
      transition: 1s ease-in-out;
      }
      &:nth-child(2){
      transition: 1s ease-in-out;
      &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background: #00000054;
      transition: 1s ease-in-out;
     
  }
  }}


}
  #wided .slider{
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
      .logo-flex {
        display: flex;
        align-items: flex-end;
        height: 100%;
        justify-content: center;
        padding-bottom: 20px;
        background: linear-gradient(180deg, rgba(0,0,0,0) 37%, rgba(0,0,0,0.7875525210084033) 100%);
        border-radius: 20px;
    }
  }
  #wided .item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: none;
    transition: transform .4s ease-in-out, left .4s ease-in-out, top .4s ease-in-out, width .4s ease-in-out, height .4s ease-in-out;
    transform-origin: center center;
    @media (max-width:767px) {
      top: 66%;
      
    }
  
    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
      transform: scale(1.05); /* Adjust scale without affecting position */


      .logo-flex {
        display: flex;
        align-items: flex-end;
        height: 100%;
        justify-content: center;
        display: none;
       
    }
    }
  
    &:nth-child(3) { left: 66%; }
    &:nth-child(4) { left: calc(66% + 220px); }
    &:nth-child(5) { left: calc(66% + 440px); }
    &:nth-child(6) { left: calc(66% + 660px); opacity: 0;}
    // &:nth-child(7) { left: calc(50% + 860px); opacity: 0;}
    // &:nth-child(7) { left: calc(50% + 860px); opacity: 0; }
    &:nth-child(n+7){display: none;}
  }
  
  #wided .content {
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    // display: none;
    @media (max-width:767px) {
      width: min(50vw,400px);
      
    }
  
    & .title {
      font-size: 3rem; 
      font-family: 'arial-black';
      text-transform: uppercase;
      font-family: var(--secondary);
    }
  
    & .description {
      line-height: 1.7;
      padding: 1rem 0 1.5rem;
      font-size: 0.8rem;
      font-family: var(--secondary);
    }
  
    & a {
      width: fit-content;
      background-color: rgba(0,0,0,0.1);
      color: white;
      border: 2px solid white;
      border-radius: 0.25rem;
      padding: 0.75rem;
      cursor: pointer;
      font-family: var(--secondary);
    }
  }
  
  .item:nth-of-type(2) .content {
    display: block;
    animation: show 0.45s ease-in-out 0.3s forwards;
  }
  
  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
  #wided .nav {
      display: flex;
      position: absolute;
      bottom: 2rem;
      left: 48%;
      transform: translateX(-50%);
      z-index: 5;
      user-select: none;
  
    & .btn {
      background-color: rgb(255, 255, 255);
      color: rgba(0,0,0,0.7);
      border: 2px solid rgba(255, 255, 255, 0.6);
      margin: 0 0.25rem;
      padding: 0.75rem;
      border-radius: 50%;
      cursor: pointer;
  
      &:hover {
        background-color: rgba(255, 255, 255, 0.445);
      }
    }
  }
  
  @media (width > 650px) and (width < 900px) {
    #wided .content {
      & .title        { font-size: 3rem; }
      & .description  { font-size: 1rem; }
      & a        { font-size: 0.7rem; }
    }
    #wided .item {
      width: 160px;
      height: 270px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 170px); }
      &:nth-child(5) { left: calc(50% + 340px); }
      &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
    }
  }
  
  @media (width < 650px) {
    #wided .content {
      & .title        { font-size: 3rem; }
      & .description  { font-size: 0.65rem; }
      & a        { font-size: 0.7rem; }
    }
    #wided .item {
      width: 130px;
      height: 220px;
  
      &:nth-child(3) { left: 66%; }
      &:nth-child(4) { left: calc(66% + 140px); }
      &:nth-child(5) { left: calc(66% + 280px); }
      &:nth-child(6) { left: calc(66% + 420px); opacity: 0; }
    }
  }
  
  #wided .progress-container {
      position: absolute;
      bottom: 4rem;
      left: 74%;
      transform: translateX(-50%);
      max-width: 30%;
      width: 25%;
      height: 5px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      overflow: hidden;
      z-index: 5;
    }
  
    #wided  .progress-bar {
      width: 0%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.836);
      transition: width 0.3s ease-in-out;
    }
  
    #wided .fraction {
      z-index: 5;
      position: absolute;
      bottom: 2rem;
      left: 90%;
      transform: translateX(-50%);
      font-size: 4rem;
      color: white;
      text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
      margin: 0;
    }
    #wided .d-flex{display: flex; align-items: center;}
// video scroll fix
#rental {
  background-color: transparent;
  transition: background-color 0.5s ease; /* Smooth transition */
}
.scrolled1 {
  background-color: white !important;
}

  
  
.fs-2r{font-size:2.3rem}
  .f-16{font-size: 16px !important;}
  .f-18{font-size: 18px !important;}
  .fw-300{font-weight: 300;}
  .fw-600{font-weight: 600;}
  .fs-19em{font-size:1.9em}